.collapsed {
  height: 0px;
  overflow: clip;

  transition: all 0.2s ease-out;
}

.translateCollapsed {
  transform: translateY(-300px);
}

.translateExpand {
  transition: all 0.2s ease-in;
  transform: translateY(0px);
}
