@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryTeal: #00a2ad;
  --darkerTeal: #014656;
  --orangeTeal: #fdd65d;
  --darkerOrange: #f6a801;
  --svBg: #f9f7f6;
  --svText: #1c1d26;
  --iconGray: #b6b6b6;
}

@font-face {
  font-family: "GeistMono";
  src: url("fonts/GeistMonoVF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GeistVF";
  src: url("fonts/GeistVF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  background: var(--svText);
}

body {
  color: var(--svText);
  background: var(--svBg);
  margin: 0 auto 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 393px;
  overflow-x: clip;
  /* animation: backgroundChange 5s infinite ease-in-out; */
}

@keyframes backgroundChange {
  50% {
    background: var(--foreground);
  }
}

.GeistVF {
  font-family: "GeistVf";
}

.GeistMono {
  font-family: "GeistMono";
}

.sansSerif {
  font-family: sans-serif;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.times {
  font-family: "Times New Roman", Times, serif;
}

.cursive {
  font-family: cursive;
}
